@tailwind base;
@tailwind components;
@tailwind utilities;

.login-background , .GptSearchPageBackground{
    background-image: url('/src/assets/netflix-bg.jpg');
    background-position: center;
    background-size: cover;
    min-height: 100dvh;
    object-fit: cover;
}
.no-scrollbar::-webkit-scrollbar {
    display: none; /* Chrome, Safari, and Opera */
}
.no-scrollbar {
    overflow: auto;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;     /* Firefox */
}